# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Cache
.pytest_cache/
.kilo/
.sixth/

# Environments
.env

# Logs
tests/*.log
*.log

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
